<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WxServiceSoap" />
                <binding name="WxServiceSoap1" />
                <binding name="WxServiceSoap2" />
                <binding name="WxServiceSoap3" />
                <binding name="WebCardHolderSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WebCardHolderSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://pushmsg.test.iotone.cn/WxService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WxServiceSoap"
                contract="WeiXinService.WxServiceSoap" name="WxServiceSoap" />
            <endpoint address="http://push.wechat.iotone.cn/WxService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WxServiceSoap1"
                contract="ServiceReference1.WxServiceSoap" name="WxServiceSoap1" />
            <endpoint address="http://push.wechat.test.iotone.cn/WxService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WxServiceSoap2"
                contract="ServiceReference2.WxServiceSoap" name="WxServiceSoap2" />
            <endpoint address="http://wechat.zhengzhou.iotone.cn/WxService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WxServiceSoap3"
                contract="ServiceReference3.WxServiceSoap" name="WxServiceSoap3" />
            <endpoint address="http://116.255.205.110:1001/webcardholder.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebCardHolderSoap"
                contract="ServiceReference_JPush.WebCardHolderSoap" name="WebCardHolderSoap" />
            <endpoint address="http://116.255.205.110:1001/webcardholder.asmx"
                binding="customBinding" bindingConfiguration="WebCardHolderSoap12"
                contract="ServiceReference_JPush.WebCardHolderSoap" name="WebCardHolderSoap12" />
        </client>
    </system.serviceModel>
</configuration>