<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    
    <!--温州正式库-->
    <!--<add name="ODb" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=122.228.89.69)(PORT=11521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=rental_record)));User Id=Rentaladmin;Password=Rental123;" />-->
    <!--企业考勤正式库-->
    <!--<add name="OracleDb" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=122.228.89.69)(PORT=11521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=rental_record)));User Id=Rentaladmin;Password=Rental123;" />-->   
    <!--门禁测试库-->     
    <add name="OracleDb" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.1.6.161)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl1)));User Id=rentaladmin;Password=rentaladmin;" />

    <!--登记机-->
    <!--<add name="OracleDb" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.1.6.161)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl1)));User Id=hotel;Password=hotel123;" />-->
    

    <!--旅业测试库-->
    <!--<add name="OracleDb" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.1.5.191)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));User Id=lgy;Password=lgy123;" />-->

    <!--警械管控测试库-->
    <!--<add name="OracleDb" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.1.5.191)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));User Id=jxgk;Password=jxgk123;" />-->
    
    
    <!--以卡管船测试库-->
    <!--<add name="OracleDb" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.1.5.191)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));User Id=ykgc;Password=YKGC123;" />-->
   
    <!--郑州正式库-->
    <!--<add name="OracleDb" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=122.228.89.70)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=crebasdb)));User Id=rentaladmin;Password=Rental123;" />-->
    <!--测斜测试库-->
    <!--<add name="OracleDb" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.1.6.161)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));User Id=rcgs;Password=rcgs123;" />-->
    <!--<add name="OracleDb" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=122.228.89.70)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=crebasdb)));User Id=rcgs;Password=rcgs123;" />-->
    <!--<add name="OracleDb" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=122.228.188.212)(PORT=11501)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));User Id=rentaladmin;Password=Rental123;" />-->

    <!--<add name="OracleDb" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.1.5.191)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));User Id=lf;Password=lf123;" />
    <add name="OracleDb_StationInfo" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.1.5.191)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));User Id=lf;Password=lf123;" />-->
    <!--<add name="OracleDb_StationInfo" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=122.228.89.70)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=crebasdb)));User Id=crebas;Password=tdr123456;" />-->










  </connectionStrings>
  
  
  
  <appSettings>
    <add key="FileType" value="1601" />
    <!-- Singel Parallel Queue-->
    <add key="ThreadType" value="Singel" />  
    <add key="MaxDegreeOfParallelism" value="20" />
    <add key="XmlFilesPath" value="D:\test2\Xml" />
    <add key="NewXmlFilesPath" value="D:\test2\sync1" />
    <add key="ErrorXmlFilesPath" value="D:\Test2\error" />
    <add key="SearchPattern" value="1601_*.XML" />

    <add key="CmdIdType" value="10" />  <!--10进制：10，16进制：16-->   
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="InvalidPath" value="" />
  </appSettings>






  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Dll"/>
    </assemblyBinding>
  </runtime>
  
  
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WxServiceSoap" />
        <binding name="WxServiceSoap1" />
        <binding name="WxServiceSoap2" />
        <binding name="WxServiceSoap3" />
        <binding name="WebCardHolderSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://pushmsg.test.iotone.cn/WxService.asmx" binding="basicHttpBinding" bindingConfiguration="WxServiceSoap" contract="WeiXinService.WxServiceSoap" name="WxServiceSoap" />
      <endpoint address="http://push.wechat.iotone.cn/WxService.asmx" binding="basicHttpBinding" bindingConfiguration="WxServiceSoap1" contract="ServiceReference1.WxServiceSoap" name="WxServiceSoap1" />
      <endpoint address="http://push.wechat.test.iotone.cn/WxService.asmx" binding="basicHttpBinding" bindingConfiguration="WxServiceSoap2" contract="ServiceReference2.WxServiceSoap" name="WxServiceSoap2" />
      <endpoint address="http://wechat.zhengzhou.iotone.cn/WxService.asmx" binding="basicHttpBinding" bindingConfiguration="WxServiceSoap3" contract="ServiceReference3.WxServiceSoap" name="WxServiceSoap3" />
      <endpoint address="http://116.255.205.110:1001/webcardholder.asmx" binding="basicHttpBinding" bindingConfiguration="WebCardHolderSoap" contract="ServiceReference_JPush.WebCardHolderSoap" name="WebCardHolderSoap" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>